<nav class="nav--primary">
    <% image_tag "logo-symbol.png" %>
    <ul>
        <li><a href="#completion-rates" class="scroll">Completion Rates</a></li>
        <li><a href="#academic-success" class="scroll">Academic Success</a></li>
        <li><a href="#non-graduates" class="scroll">Non-Graduates</a></li>
        <li><a href="#demographic" class="scroll">Demographics</a></li>
        <li><a href="#employment" class="scroll">Employment</a></li>
        <li><a href="#tuition" class="scroll">Tuition</a></li>
        <li><a href="#conclusions" class="scroll">Conclusions</a></li>
        <li><a href="/data/2015_turing_outcomes_data.csv" download>Download Data</a></li>
        <!-- <li><a href="#">Download as PDF</a></li> -->
        <li><a href="https://www.turing.io/contact" target="_blank">Contact Us</a></li>
    </ul>
</nav>

<section class="header">
    <div class="container">
        <div class="logo">
            <%= image_tag "logo-symbol.png" %>
        </div>
        <p class="text-center content-padded size2">
            The Turing School of Software &amp; Design is a 501(c)(3) non-profit school in Denver, Colorado.
        </p>
        <p class="text-center content-padded size2">
            Our mission is to unlock human potential by training a diverse, inclusive student body to succeed in high-fulfillment technical careers. We believe in a world powered by technology where the people building it represent the people using it.
        </p>
    </div>
    <div class="tron">
    </div>
</section>
<section class="header-headline">
    <div class="container">        
        <div class="headline">
            <div class="arrow-down">
                <a class="scroll" href="#start-section"><%= image_tag "arrow-down.png" %></a>
            </div>  
            <h1 id="start-section">2015 Outcomes</h1>
            <p class="content-padded-right">
              In 2015 Turing offered just one course of study: "Web Application Development with Ruby, Rails, and JavaScript." This report includes students who graduated between December 2014 and December 2015, which represent our 1406, 1407, 1409, 1410, 1412, 1502, 1503, and 1505 cohorts.
            </p>
            <p class="content-padded-right">
              A new cohort made up of 20-28 students begins the program every seven weeks. Each quarter or "module" at Turing runs six weeks and is followed by an intermission week. The typical student is at Turing for a total of 27 weeks and our total student body hovers around 90.
            </p>
            <p class="content-padded-right">
              The data, calculations, and methodology of this report were 3rd-party audited
              by Joseph Kozusko, PhD and Co-Founder of Skills Fund. In summary, he says
              "<em>The conclusion of Skills Fund is that the Turing School of Software and Design 2015 Outcomes Report is reflective of strong data integrity, uses consistent standards measures, and indicates markers of a high-quality accelerated learning program.</em>"
            </p>
        </div>
    </div>
</section>
<section id="completion-rates" class="teal-bg completion-rates">
    <div class="container">
        <h1>Completion<br/>Rates</h1>
        <div class="data">
            <div class="section">
                <h4>Total Students Enrolled</h4>
                <div class="row">
                    <div class="col-xs-7">
                        <h2>136</h2>
                    </div>
                    <div class="col-xs-5">
                        <%= image_tag "icons/3people.png" %>
                    </div>
                </div>
            </div>
            <div class="section">
                <h4>Students Continuing Beyond 2015<br/>
                    <small>due to repeated modules or time off</small>
                </h4>
                <div class="row">
                    <div class="col-xs-7">
                        <h2>4</h2>
                    </div>
                    <div class="col-xs-5">
                        <%= image_tag "icons/4people.png" %>
                    </div>
                </div>
            </div>
            <div class="section">
                <h4>Students with complete outcomes<br/>
                    <small>total enrolled minus continuations</small>
                </h4>
                <div class="row">
                    <div class="col-xs-7">
                        <h2>132</h2>
                    </div>
                    <div class="col-xs-5">
                        <%= image_tag "icons/3people.png" %>
                    </div>
                </div>
            </div>
            <div class="section">
                <h4>Graduates<br/>
                    <small>passed all four modules</small></h4>
                <div class="row">
                    <div class="col-xs-7">
                        <h2>101</h2>
                    </div>
                    <div class="col-xs-5">
                        <h2 class="countTo" data-from="0" data-to="76" data-append="%">0%</h2>
                    </div>
                </div>
            </div>
            <div class="section">
                <h4>Early Employment Departures<br/>
                    <small>students who started development jobs without graduating</small></h4>
                <div class="row">
                    <div class="col-xs-7">
                        <h2>9</h2>
                    </div>
                    <div class="col-xs-5">
                        <h2 class="countTo" data-from="0" data-to="7" data-append="%">0%</h2>
                    </div>
                </div>
            </div>
            <div class="section">
                <h4>Satisfactory outcomes<br/>
                    <small>total of graduates + early employment departures</small>
                </h4>
                <div class="row">
                    <div class="col-xs-7">
                        <h2>110</h2>
                    </div>
                    <div class="col-xs-5">
                        <h2 class="countTo percent" data-from="0" data-to="83" data-decimals="0" data-append="%">0%</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="academic-success" class="academic-success gray-light-bg">
    <div class="container">
        <h1>Academic Success</h1>
        <p class="size1">
          Each of our four modules is pass/fail. A student who fails a module
          is offered the opportunity to repeat it.<br/>Among surveyed graduates:</p>
        <div class="content-padded-right">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <div class="circle-container">
                        <div class="circliful circliful-gray" data-text="91%" data-percent="91"></div>
                        <p>did not repeat a module</p>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="circle-container">
                        <div class="circliful circliful-gray" data-text="5%" data-percent="5"></div>
                        <p>repeated one module</p>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="circle-container">
                        <div class="circliful circliful-gray" data-text="4%" data-percent="4"></div>
                        <p>repeated more than one module</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="student-bg">

</section>
<section id="non-graduates" class="non-graduates gray-light-bg">
    <div class="container">
        <h1>Non-Graduates</h1>
        <p class="size1">
          Why did students leave the program?
        </p>
        <div class="content-padded-right2">
            <div class="row">
                <div class="col-sm-6">
                    <div class="circle-container">
                        <div class="circliful circliful-gray" data-text="31%" data-percent="31"></div>
                        <p>Early Employment</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="circle-container">
                        <div class="circliful circliful-gray" data-text="48%" data-percent="48">
                        </div>
                        <p>Academic Struggle</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="circle-container">
                        <div class="circliful circliful-gray" data-text="14%" data-percent="14"></div>
                        <p>Bad Fit</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="circle-container">
                        <div class="circliful circliful-gray" data-text="7%" data-percent="7">
                        </div>
                        <p>Elective Drop</p>
                    </div>
                </div>
            </div>
            <hr/>
            <p style="font-size: 12px">
                <strong>Early Employment:</strong> students start job hunting between 3rd and 4th quarters. If their job hunt is immediately successful then they'll sometimes leave before fourth quarter ends or go into "audit" mode. Without passing Module 4 they are not considered graduates.
            </p>
            <p style="font-size: 12px">
                <strong>Academic Struggle:</strong> the largest bucket is students who left under academic distress. This unfortunately lumps together both students who were not academically successful based on their own aptitude/work and students who had outside circumstances (health, family, finances) negatively impact their learning.
            </p>
            <p style="font-size: 12px">
                <strong>Bad Fit:</strong> A small number of students arrive at Turing and drop out within the first three weeks. Typically this happens when students underestimate the workload or are unable to adequately deal with the change to their schedule/responsibilities.
            </p>
            <p style="font-size: 12px">
                <strong>Elective Drop:</strong> Students who leave while academically successful. For example, one left to begin an MBA program, another left to begin freelancing.
            </p>
        </div>
    </div>
</section>
<section id="demographic" class="demographic orange-bg">
    <div class="container">
        <h1 class="hidden-xs">Demographics</h1>
        <h2 class="smaller visible-xs">Demographics</h2>
        <p class="size1">
          Turing is working towards a mission of diversity and inclusion. How are
          traditionally under-represented students doing?
        </p>

        <div class="content-padded-right2">
            <div class="row">
                <div class="col-md-6">
                    <div class="circle-container circle-container-double">
                        <h3>Women</h3>
                        <div class="circliful circliful-orange" data-text="28.01%" data-percent="28.01"><span>of enrollees</span>
                        </div>
                        <div class="circliful circliful-orange" data-text="27%" data-percent="27">
                            <span>of graduates</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="circle-container circle-container-double">
                        <h3>People of Color</h3>
                        <div class="circliful circliful-orange" data-text="24%" data-percent="24"><span>of enrollees</span>
                        </div>
                        <div class="circliful circliful-orange" data-text="28%" data-percent="28">
                            <span>of graduates</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="circle-container circle-container-double">
                        <h3>Veterans</h3>
                        <div class="circliful circliful-orange" data-text="4%" data-percent="4"><span>of enrollees</span>
                        </div>
                        <div class="circliful circliful-orange" data-text="4%" data-percent="4">
                            <span>of graduates</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="circle-container circle-container-double">
                        <h3>Students w/o a 4-Year Degree</h3>
                        <div class="circliful circliful-orange" data-text="20%" data-percent="20"><span>of enrollees</span>
                        </div>
                        <div class="circliful circliful-orange" data-text="20%" data-percent="20">
                            <span>of graduates</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="employment" class="teal-bg job-placement">
    <div class="container">
        <div class="content-padded-right2">
            <h1>Employment</h1>
            <p class="size1">
              Starting with the 101 students who graduated in 2015, we have exempted
              five students from the time-to-hire and salary calculations:</p>
            <ul class="arrowed" style="font-size: .9em">
              <li>One graduate left the country for personal reasons. They are now employed as a developer.</li>
              <li>One graduate is exempt due to a criminal record, but is working as an apprentice.</li>
              <li>
                One graduate would not interact with job assistance staff in good faith.
              </li>
              <li>Two graduates chose to have their complete tuition refunded after an unsuccessful 90-day job hunt. One is now an apprentice and one is a developer.</li>
            </ul>
            <p class="size1">
              In addition, nine students signed a job offer before graduation and left early. A total pool of 105 students are considered in the statistics below (101 graduates - 6 exemptions + 9 early employed).
            </p>
        </div>
    </div>
</section>
<section class="teal-medium-bg job-hunt">
    <div class="container">
        <div class="content-padded-right2">
            <h2 class="smaller">Job Hunt Length</h2>

            <div class="data">
                <div class="section">
                    <h4>signed before graduation</h4>
                    <div class="row">
                        <div class="col-xs-7">
                            <h2>32</h2>
                        </div>
                        <div class="col-xs-5">
                            <h2 class="countTo" data-from="0" data-to="30.5" data-append="%" data-decimals="1">0%</h2>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h4>full-time employment within 30 days</h4>
                    <div class="row">
                        <div class="col-xs-7">
                            <h2>56</h2>
                        </div>
                        <div class="col-xs-5">
                            <h2 class="countTo" data-from="0" data-to="53.3" data-append="%" data-decimals="1">0%</h2>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h4>full-time employment within 60 days</h4>
                    <div class="row">
                        <div class="col-xs-7">
                            <h2>73</h2>
                        </div>
                        <div class="col-xs-5">
                            <h2 class="countTo" data-from="0" data-to="69.5" data-append="%" data-decimals="1">0%</h2>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h4>full-time employment within 90 days</h4>
                    <div class="row">
                        <div class="col-xs-7">
                            <h2>91</h2>
                        </div>
                        <div class="col-xs-5">
                            <h2 class="countTo" data-from="0" data-to="86.7" data-append="%" data-decimals="1">0%</h2>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h4>full-time employment within 120 days</h4>
                    <div class="row">
                        <div class="col-xs-7">
                            <h2>97</h2>
                        </div>
                        <div class="col-xs-5">
                            <h2 class="countTo" data-from="0" data-to="92.4" data-append="%" data-decimals="1">0%</h2>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h4>full-time employment within 180 days</h4>
                    <div class="row">
                        <div class="col-xs-7">
                            <h2>103</h2>
                        </div>
                        <div class="col-xs-5">
                            <h2 class="countTo" data-from="0" data-to="98.1" data-append="%" data-decimals="1">0%</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="students-working-bg">

</section>

<section id="job-type" class="teal-mediumer-bg job-type">
    <div class="container">
        <div class="content-padded-right2">
            <h2 class="smaller">Job Type</h1>
            <div class="data">
              <div class="section">
                  <h4>Number of graduates reporting job titles</h4>
                  <div class="row">
                      <div class="col-xs-7">
                          <h2>92</h2>
                      </div>
                      <div class="col-xs-5">
                          <%= image_tag "icons/3people.png" %>
                      </div>
                  </div>
              </div>
              <div class="section">
                  <h4>full-time developers</h4>
                  <div class="row">
                      <div class="col-xs-7">
                          <h2>85</h2>
                      </div>
                      <div class="col-xs-5">
                          <h2 class="countTo" data-from="0" data-to="92.5" data-append="%" data-decimals="1">0%</h2>
                      </div>
                  </div>
              </div>
              <div class="section">
                  <h4>apprenticeships</h4>
                  <div class="row">
                      <div class="col-xs-7">
                          <h2>1</h2>
                      </div>
                      <div class="col-xs-5">
                          <h2 class="countTo" data-from="0" data-to="1.1" data-append="%" data-decimals="1">0%</h2>
                      </div>
                  </div>
              </div>
              <div class="section">
                  <h4>quality assurance</h4>
                  <div class="row">
                      <div class="col-xs-7">
                          <h2>3</h2>
                      </div>
                      <div class="col-xs-5">
                          <h2 class="countTo" data-from="0" data-to="3.3" data-append="%" data-decimals="1">0%</h2>
                      </div>
                  </div>
              </div>
              <div class="section">
                  <h4>contractors/self-employed</h4>
                  <div class="row">
                      <div class="col-xs-7">
                          <h2>1</h2>
                      </div>
                      <div class="col-xs-5">
                          <h2 class="countTo" data-from="0" data-to="1.1" data-append="%" data-decimals="1">0%</h2>
                      </div>
                  </div>
              </div>
              <div class="section">
                  <h4>
                    Total of Highly Technical Roles<br/>
                    <small>developers + apprentices + QA + self-employed</small>
                  </h4>
                  <div class="row">
                      <div class="col-xs-7">
                          <h2>90</h2>
                      </div>
                      <div class="col-xs-5">
                          <h2 class="countTo" data-from="0" data-to="97.8" data-append="%" data-decimals="1">0%</h2>
                      </div>
                  </div>
              </div>
              <div class="section">
                  <h4>employed by Turing</h4>
                  <div class="row">
                      <div class="col-xs-7">
                          <h2>2</h2>
                      </div>
                      <div class="col-xs-5">
                          <h2 class="countTo" data-from="0" data-to="2.2" data-append="%" data-decimals="1">0%</h2>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>

<section class="teal-darker-bg salary">
    <div class="container">
        <div class="content-padded-right">
            <h2>Salary</h2>
            <div class="data">
                <div class="section">
                    <h4>average salary of employed graduates</h4>
                    <div class="row">
                        <div class="col-xs-7">
                            <h2 class="countTo" data-from="0" data-to="74535" data-prepend="$" data-type="currency">$0</h2>
                        </div>
                        <div class="col-xs-5">
                            <%= image_tag "icons/money.png" %>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h4>average increase of yearly salary compared with previous job</h4>
                    <div class="row">
                        <div class="col-xs-7">
                            <h2 class="countTo" data-from="0" data-to="32929" data-prepend="$" data-type="currency">$0</h2>
                        </div>
                        <div class="col-xs-5">
                            <%= image_tag "icons/graph.png" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="tuition" class="tuition gray-light-bg">
    <div class="container">
        <div class="content-padded-right2">
            <h1>Tuition</h1>
            <p class="size1">Our standard Tuition is $17,500. Students bring their own Macbook Pro can pay a reduced tuition of $16,300. Some students get an additional discount based on their referral pipeline or a diversity scholarship.</p>
            <div class="data">
                <div class="section">
                    <h4>Average tuition paid by students</h4>
                    <h2>$16,800</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="students-on-computer">

</section>
<section class="the-real-cost gray-light-bg">
    <div class="container">
        <div class="content-padded-right2">
            <h1 class="smaller">The Real Cost of Turing</h1>
            <p>
              We encourage students to calculate the real cost of Turing. For instance, a typical incoming student might have earned $45,000 at their previous job. The average job hunt lasts about 3 months. The real cost of Turing is thus:
            </p>

            <div class="row">
                <div class="col-md-4">
                    <div class="circle-container-large">
                        <div class="circle-the-real-cost">
                            <div class="center">
                                <div class="circle-container">
                                    <div class="circliful circliful-gray" data-text="" data-percent="18"></div>
                                </div>
                                <div class="price countTo" data-from="0" data-to="54300" data-prepend="$" data-type="currency">$0</div>
                                <div class="subtitle">Real Cost</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <ul>
                        <li><strong>Average Tuition: $16,800</strong></li>
                        <li><strong>10-months missed salary: $37,500</strong></li>
                    </ul>
                </div>
            </div>

            <p>
              With an average salary increase of $33K, <strong>the average student pays off their investment in under 20 months</strong>.
            </p>
        </div>
    </div>
</section>
<section id="conclusions" class="conclusions orange-bg">
    <div class="container">
        <div class="content-padded-right2">
            <h1>Conclusions</h1>
            <p class="size1">Overall we are proud of these results. Some of our key takeaways and intentions for the future are:</p>
            <h2 class="smaller">Diversity</h2>
            <h3>We must attract, enroll, and graduate more women, people of color, and veterans.</h3>
            <p>This year we'll build up stronger partnerships with old friends like Girl Develop It and Teach for America. We'll begin new ones with organizations like City Year and Denver Community College. In the summer of 2016 we anticipate approval from the VA to accept Post-9/11 GI Bill funding and thus open the door more widely to our veterans and their spouses/dependents. We'll also add at least two roles to our operations team and put more purposeful marketing and recruiting systems in place to ensure we're building a sustainable pipeline.</p>
        </div>
    </div>
</section>
<section class="conclusions-grad-rate orange-dark-bg">
    <div class="container">
        <div class="content-padded-right2">
            <h2 class="smaller">Graduation Rate</h2>
            <h3>We must graduate a higher percentage of students without any sacrifice in academic rigor</h3>
            <p>Even mixing in those who leave early due to employment, we're looking a graduation rate in the 80s. MIT hovers in the area of 91-93%. Stanford boasts a 94% graduation rate. We can do better.
            </p>
            <p>So far in late 2015 / early 2016 we have put in place the following changes:</p>
            <ul class="arrowed">
                <li>The "Echo"/"Foxtrot" split for the first three weeks of Module 1, inspired by Harvey Mudd</li>
                <li>Creation of a Student Support Fellowship, a six-week fellowship for a recent grad where they spend 24 hours per week pairing with our most struggling students
                </li>
                <li>Revising our prework content to be more focused, have higher expectations, and be more easily monitored. We've also added volunteer "prework guides" (current and past students) who give one-on-one support to students before they arrive
                </li>
                <li>Foster the growth of student interest/support groups like the Joan Clarke Society (for female students), LGBTuring, and newly the Turing Asian American Programmers.
                </li>
                <li>Revising admissions process to focus more clearly on the Turing mindsets: <strong>growth, engagement, agency, empathy, and grit</strong>.
                </li>
                <li>Increase the number of financial lending partners and diversify their offerings, including some who can now lend students funds for their cost-of-living while in the program
                </li>
                <li>Creation of a Community Affairs Manager role who is now able to keep a pulse on students, steer their growth, and catch warning signs more quickly
                </li>
            </ul>
            <p>With these efforts in place we seek to nearly eliminate the "Early Drop / Bad Fit" category (currently 3%) and reduce the "Academic Drop Out" (currently 10%) so combined they are the outcome for less than 8% of enrollees in 2016.</p>
        </div>
    </div>
</section>
<section class="turing-bg">

</section>
<section class="pipelines orange-darker-bg">
    <div class="container">
        <div class="content-padded-right2">
            <h2 class="smaller">Employment Pipelines</h2>
            <h3>We must help students secure high-satisfaction jobs more quickly.
            </h3>
            <p>
              Though almost all graduates find jobs they're excited about, the process is entirely too stressful for everyone involved. 60% of students accepted their first job offer. We want students to receive between three and five job offers, allowing them to select the one that best aligns with their personal goals.
            </p>
            <p>
              Taking it a step further, this is our Apollo Moon Challenge:
            </p>
            <h3>Every graduate of Turing will have a signed employment contract the day they graduate.</h3>

            <p>To achieve that we:</p>
            <ul class="arrowed">
                <li>
                  have hired an experienced Partnerships Manager to build stronger employer relationships
                </li>
                <li>
                  are building better data management practices to improve knowledge about companies and interviews
                </li>
                <li>
                  are beginning to coordinate with economic development organizations, both within the government and outside it
                </li>
                <li>
                  are increasing our reach beyond our personal networks through events, writing, sharing, speaking, public relations, and supporting the people and efforts around us
                </li>
                <li>
                  are leveraging our long-time alumni as they begin to look for their second jobs, using them to open doors for recent grads
                </li>
            </ul>
            <p>
              Through those efforts we expect to see over 80% of graduates employed within 30 days of graduation in 2016 and reach the moon challenge in 2017.
            </p>
        </div>
    </div>
</section>
<section class="thank-you">
    <div class="container">
        <h1><%= image_tag "logo-symbol.png" %> Thank You.</h1>
    </div>
</section>
