<!DOCTYPE html>
<html prefix="og:http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Job Report | Turing School of Software & Design</title>

    <script src="https://use.typekit.net/oxa2phf.js"></script>
    <script>try {
        Typekit.load({async: true});
    } catch (e) {
    }</script>

    <%= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "/vendor/jquery-circliful/css/jquery.circliful.css" %>
    <%= stylesheet_link_tag "application" %>

    <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" %>
    <%= javascript_include_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>
    <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js" %>
    <%= javascript_include_tag "/vendor/jquery-circliful/js/jquery.circliful.min.js" %>
    <%= javascript_include_tag "/vendor/jquery.countTo.js" %>
    <%= javascript_include_tag "application" %>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<nav class="nav--primary">
    <% image_tag "logo-symbol.png" %>
    <ul>
        <li><a href="#completion-rates" class="scroll">Completion Rates</a></li>
        <li><a href="#academic-success" class="scroll">Academic Success</a></li>
        <li><a href="#non-graduates" class="scroll">Non-Graduates</a></li>
        <li><a href="#demographic" class="scroll">Demographics</a></li>
        <li><a href="#job-placement" class="scroll">Job Placement</a></li>
        <li><a href="#tuition" class="scroll">Tuition</a></li>
        <li><a href="#conclusions" class="scroll">Conclusions</a></li>
        <li><a href="/data/2015_turing_outcomes_data.csv" download>Download Data</a></li>
        <!-- <li><a href="#">Download as PDF</a></li> -->
        <li><a href="https://www.turing.io/contact" target="_blank">Contact Us</a></li>
    </ul>
</nav>

<section class="header">
    <div class="container">
        <div class="logo">
            <%= image_tag "logo-symbol.png" %>
        </div>
        <p class="text-center content-padded size2">
            The Turing School of Software &amp; Design is a 501(c)(3) non-profit school in Denver, Colorado.
        </p>
        <p class="text-center content-padded size2">
            Our mission is to unlock human potential by training a diverse, inclusive student body to succeed in high-fulfillment technical careers. We believe in a world powered by technology where the people building it represent the people using it.
        </p>
    </div>
    <div class="tron">
    </div>
</section>
<section class="header-headline">
    <div class="container">
        <div class="arrow-down">
            <%= image_tag "arrow-down.png" %>
        </div>
        <div class="headline">
            <h1>2015 <br/>Program</h1>
            <p class="content-padded-right">
              In 2015 Turing offered just one course of study: "Web Application Development with Ruby, Rails, and JavaScript." Incoming students are grouped into cohorts. A new cohort begins the program every seven weeks. Each quarter or "module" at Turing runs six weeks and is followed by an intermission week. The typical student is at Turing for a total of 27 weeks and our total student body numbers about 90 when classes are in session.
            </p>
        </div>
    </div>
</section>
<section id="completion-rates" class="teal-bg completion-rates">
    <div class="container">
        <h1>Completion<br/>Rates</h1>
        <div class="data">
            <div class="section">
                <h4>Total potential graduates</h4>
                <div class="row">
                    <div class="col-xs-7">
                        <h2>136</h2>
                    </div>
                    <div class="col-xs-5">
                        <%= image_tag "icons/3people.png" %>
                    </div>
                </div>
            </div>
            <div class="section">
                <h4>Students enrolled beyond 2015
                    <small>(due to repeated modules or breaks)</small>
                </h4>
                <div class="row">
                    <div class="col-xs-7">
                        <h2>4</h2>
                    </div>
                    <div class="col-xs-5">
                        <%= image_tag "icons/4people.png" %>
                    </div>
                </div>
            </div>
            <div class="section">
                <h4>Graduates (strict)</h4>
                <div class="row">
                    <div class="col-xs-7">
                        <h2>101</h2>
                    </div>
                    <div class="col-xs-5">
                        <h2 class="countTo" data-from="0" data-to="76" data-append="%">0%</h2>
                    </div>
                </div>
            </div>
            <div class="section">
                <h4>Satisfactory outcomes
                    <small>(graduated + employed before graduation)</small>
                </h4>
                <div class="row">
                    <div class="col-xs-7">
                        <h2>110</h2>
                    </div>
                    <div class="col-xs-5">
                        <h2 class="countTo percent" data-from="0" data-to="83.3" data-decimals="1" data-append="%">0%</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="academic-success" class="academic-success gray-light-bg">
    <div class="container">
        <h1>Academic Success</h1>
        <p class="size1">
          Each of our four modules is pass/fail. A student who fails a module
          is offered the opportunity to repeat it.<br/>Among 94 surveyed graduates:</p>
        <div class="content-padded-right">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <div class="circle-container">
                        <div class="circliful circliful-gray" data-text="91.5%" data-percent="91.5"></div>
                        <p>did not repeat a module</p>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="circle-container">
                        <div class="circliful circliful-gray" data-text="4.3%" data-percent="4.3"></div>
                        <p>repeated one module</p>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="circle-container">
                        <div class="circliful circliful-gray" data-text="4.3%" data-percent="4.3"></div>
                        <p>repeated more than one module</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="student-bg">

</section>
<section id="non-graduates" class="non-graduates gray-light-bg">
    <div class="container">
        <h1>Non-Graduates</h1>
        <p class="size1">
          Why did students leave the program? Of the 29 non-graduates:
        </p>
        <div class="content-padded-right2">
            <div class="row">
                <div class="col-md-6">
                    <div class="circle-container">
                        <div class="circliful circliful-gray" data-text="31%" data-percent="31"></div>
                        <p>Early Employment</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="circle-container">
                        <div class="circliful circliful-gray" data-text="48.2%" data-percent="48.2">
                        </div>
                        <p>Academic Struggle</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="circle-container">
                        <div class="circliful circliful-gray" data-text="13.8%" data-percent="13.8"></div>
                        <p>Bad Fit</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="circle-container">
                        <div class="circliful circliful-gray" data-text="6.9%" data-percent="6.9">
                        </div>
                        <p>Elective Drop</p>
                    </div>
                </div>
            </div>
            <hr/>
            <p style="font-size: 12px">
                <strong>Early Employment:</strong> students start job hunting between 3rd and 4th quarters. If their job hunt is immediately successful then they'll sometimes leave before fourth quarter ends or go into "audit" mode. Either way they didn't officially graduate.
            </p>
            <p style="font-size: 12px">
                <strong>Academic Struggle:</strong> the largest bucket is students who left under academic distress. This unfortunately lumps together both students who were not academically successful based on their own aptitude/work and students who had outside circumstances (health, family, finances) impact their learning.
            </p>
            <p style="font-size: 12px">
                <strong>Bad Fit:</strong> A small number of students arrive at Turing and drop out within three weeks. Typically this happens when students underestimate the workload.
            </p>
            <p style="font-size: 12px">
                <strong>Elective Drop:</strong> Students who leave while academically successful. One left to begin an MBA program, one left to begin freelancing.
            </p>
        </div>
    </div>
</section>
<section id="demographic" class="demographic orange-bg">
    <div class="container">
        <h1 class="hidden-xs">Demographics</h1>
        <h2 class="smaller visible-xs">Demographics</h2>
        <p class="size1">
          Turing is working towards a mission of diversity and inclusion. How do
          traditionally under-represented students do at Turing?
        </p>

        <div class="content-padded-right2">
            <div class="row">
                <div class="col-md-6">
                    <div class="circle-container circle-container-double">
                        <h3>Women</h3>
                        <div class="circliful circliful-orange" data-text="28%" data-percent="28"><span>of enrollees</span>
                        </div>
                        <div class="circliful circliful-orange" data-text="26.7%" data-percent="27">
                            <span>of graduates</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="circle-container circle-container-double">
                        <h3>Non-White</h3>
                        <div class="circliful circliful-orange" data-text="24%" data-percent="24"><span>of enrollees</span>
                        </div>
                        <div class="circliful circliful-orange" data-text="28%" data-percent="28">
                            <span>of graduates</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="circle-container circle-container-double">
                        <h3>Veterans</h3>
                        <div class="circliful circliful-orange" data-text="4%" data-percent="4"><span>of enrollees</span>
                        </div>
                        <div class="circliful circliful-orange" data-text="4%" data-percent="4">
                            <span>of graduates</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="circle-container circle-container-double">
                        <h3>Students w/o 4 Year Degree</h3>
                        <div class="circliful circliful-orange" data-text="21%" data-percent="21"><span>of enrollees</span>
                        </div>
                        <div class="circliful circliful-orange" data-text="20%" data-percent="20">
                            <span>of graduates</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="job-placement" class="teal-bg job-placement">
    <div class="container">
        <div class="content-padded-right2">
            <h1>Job Placement</h1>
            <p class="size1">For this section we'll consider just the 101 students who graduated in 2015.</p>
            <h2 class="smaller">Exemptions</h2>
            <p class="size1" style="margin-bottom: 10px">
              The following graduates have been removed from the statistics:
            </p>
            <ul style="font-size: .9em">
              <li>One student left the country for personal reasons. They are now employed as a developer.</li>
              <li>One student is ineligible to work in the United States. They are now employed as a developer.</li>
              <li>One student is exempt due to a criminal record, but is working as an apprentice.</li>
              <li>One student temporarily abandoned their job hunt. They are now employed as a developer.</li>
              <li>Two students chose to have their complete tuition refunded after an unsuccessful job hunt.</li>
            </ul>
        </div>
    </div>
</section>
<section class="teal-medium-bg job-hunt">
    <div class="container">
        <div class="content-padded-right2">
            <h2 class="smaller">Job Hunt Length</h2>
            <p>Among the 95 eligible graduates:</p>
            <div class="data">
                <div class="section">
                    <h4>signed before graduation</h4>
                    <div class="row">
                        <div class="col-xs-7">
                            <h2>23</h2>
                        </div>
                        <div class="col-xs-5">
                            <h2 class="countTo" data-from="0" data-to="24.2" data-append="%" data-decimals="1">0%</h2>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h4>full-time employment within 30 days</h4>
                    <div class="row">
                        <div class="col-xs-7">
                            <h2>46</h2>
                        </div>
                        <div class="col-xs-5">
                            <h2 class="countTo" data-from="0" data-to="48.4" data-append="%" data-decimals="1">0%</h2>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h4>full-time employment within 60 days</h4>
                    <div class="row">
                        <div class="col-xs-7">
                            <h2>61</h2>
                        </div>
                        <div class="col-xs-5">
                            <h2 class="countTo" data-from="0" data-to="64.2" data-append="%" data-decimals="1">0%</h2>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h4>full-time employment within 90 days</h4>
                    <div class="row">
                        <div class="col-xs-7">
                            <h2>80</h2>
                        </div>
                        <div class="col-xs-5">
                            <h2 class="countTo" data-from="0" data-to="84.2" data-append="%" data-decimals="1">0%</h2>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h4>full-time employment in 90+ days</h4>
                    <div class="row">
                        <div class="col-xs-7">
                            <h2>94</h2>
                        </div>
                        <div class="col-xs-5">
                            <h2 class="countTo" data-from="0" data-to="95.8" data-append="%" data-decimals="1">0%</h2>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h4>under 90 days without an offer</h4>
                    <div class="row">
                        <div class="col-xs-7">
                            <h2>2</h2>
                        </div>
                        <div class="col-xs-5">
                            <h2 class="countTo" data-from="0" data-to="2.1" data-append="%" data-decimals="1">0%</h2>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h4>over 90 days without an offer</h4>
                    <div class="row">
                        <div class="col-xs-7">
                            <h2>2</h2>
                        </div>
                        <div class="col-xs-5">
                            <h2 class="countTo" data-from="0" data-to="2.1" data-append="%" data-decimals="1">0%</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="students-working-bg">

</section>
<section class="teal-medium-bg additional-stats">
    <div class="container">
        <div class="content-padded-right2">
            <p>
              In addition, 9 students signed a job offer before graduation but did not graduate (and are thus not reflected above). If counted in both the available pool (95+9 = 104) and in the pre-grad jobs, the numbers become:
            </p>
            <div class="data">
                <div class="section">
                    <h4>signed before graduation</h4>
                    <div class="row">
                        <div class="col-xs-5">
                            <h2>32</h2>
                        </div>
                        <div class="col-xs-7">
                            <h2 class="countTo" data-from="0" data-to="30.77" data-append="%" data-decimals="2">0%</h2>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h4>full-time employment within 30 days</h4>
                    <div class="row">
                        <div class="col-xs-5">
                            <h2>55</h2>
                        </div>
                        <div class="col-xs-7">
                            <h2 class="countTo" data-from="0" data-to="52.9" data-append="%" data-decimals="1">0%</h2>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h4>full-time employment within 60 days</h4>
                    <div class="row">
                        <div class="col-xs-5">
                            <h2>70</h2>
                        </div>
                        <div class="col-xs-7">
                            <h2 class="countTo" data-from="0" data-to="67.3" data-append="%" data-decimals="1">0%</h2>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h4>full-time employment within 90 days</h4>
                    <div class="row">
                        <div class="col-xs-5">
                            <h2>89</h2>
                        </div>
                        <div class="col-xs-7">
                            <h2 class="countTo" data-from="0" data-to="85.6" data-append="%" data-decimals="1">0%</h2>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h4>full-time employment in 90+ days</h4>
                    <div class="row">
                        <div class="col-xs-5">
                            <h2>109</h2>
                        </div>
                        <div class="col-xs-7">
                            <h2 class="countTo" data-from="0" data-to="96.1" data-append="%" data-decimals="1">0%</h2>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h4>under 90 days without an offer</h4>
                    <div class="row">
                        <div class="col-xs-5">
                            <h2>2</h2>
                        </div>
                        <div class="col-xs-7">
                            <h2 class="countTo" data-from="0" data-to="1.9" data-append="%" data-decimals="1">0%</h2>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h4>over 90 days without an offer</h4>
                    <div class="row">
                        <div class="col-xs-5">
                            <h2>2</h2>
                        </div>
                        <div class="col-xs-7">
                            <h2 class="countTo" data-from="0" data-to="1.9" data-append="%" data-decimals="1">0%</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="job-type" class="teal-mediumer-bg job-type">
    <div class="container">
        <div class="content-padded-right2">
            <h2 class="smaller">Job Type</h1>
            <div class="data">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section">
                            <h4>total non-exempt graduates</h4>
                            <h2>95</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section">
                            <h4>full-time developers</h4>
                            <h2>77</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section">
                            <h4>in time-limited apprenticeships </h4>
                            <h2>1</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section">
                            <h4>quality assurance </h4>
                            <h2>3</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section">
                            <h4>contractors/self-employed</h4>
                            <h2>1</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section">
                            <h4>total of technical roles</h4>
                            <h2>82</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section">
                            <h4>employed by Turing</h4>
                            <h2>4</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section">
                            <h4>unemployed</h4>
                            <h2>4</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section">
                            <h4>non reporting</h4>
                            <h2>5</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="teal-darker-bg salary">
    <div class="container">
        <div class="content-padded-right">
            <h2>Salary</h2>
            <div class="data">
                <div class="section">
                    <h4>average salary of employed graduates</h4>
                    <div class="row">
                        <div class="col-xs-7">
                            <h2 class="countTo" data-from="0" data-to="74447" data-prepend="$" data-type="currency">$0</h2>
                        </div>
                        <div class="col-xs-5">
                            <%= image_tag "icons/money.png" %>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h4>average increase of yearly salary compared with previous job</h4>
                    <div class="row">
                        <div class="col-xs-7">
                            <h2 class="countTo" data-from="0" data-to="33195" data-prepend="$" data-type="currency">$0</h2>
                        </div>
                        <div class="col-xs-5">
                            <%= image_tag "icons/graph.png" %>
                        </div>
                    </div>
                </div>
            </div>
            <p>In addition, we looked at the salary increase for persons who previously earned less than $60,000/year before attending Turing. There are 64 of those employed graduates and their average salary increase is $44,729.</p>
        </div>
    </div>
</section>
<section id="tuition" class="tuition gray-light-bg">
    <div class="container">
        <div class="content-padded-right2">
            <h1>Tuition</h1>
            <p class="size1">Our standard Tuition is $17,500. Students who have a recent Macbook Pro can decline the included laptop and pay a reduced tuition of $16,300. Some students get an additional discount based on their referral pipeline or a diversity scholarship.</p>
            <div class="data">
                <div class="section">
                    <h4>Average tuition paid by students</h4>
                    <h2>$16,800</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="students-on-computer">

</section>
<section class="the-real-cost gray-light-bg">
    <div class="container">
        <div class="content-padded-right2">
            <h1 class="smaller">The Real Cost of Turing</h1>
            <p>We encourage students to calculate the real cost of Turing. For those persons earning under $60,000, the average previous salary is conservatively (high) $45,000. The average job hunt lasts about 2 months. A single person can get by on about $1500/month in Denver. The real cost of Turing is thus:</p>

            <div class="row">
                <div class="col-md-4">
                    <div class="circle-container-large">
                        <div class="circle-the-real-cost">
                            <div class="center">
                                <div class="price countTo" data-from="0" data-to="51250" data-prepend="$" data-type="currency">$0</div>
                                <div class="subtitle">Real Cost</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <ul>
                        <li><strong>Tuition: $17,500</strong></li>
                        <li><strong>9-months missed salary at $45K/year: $33,750</strong></li>
                    </ul>
                </div>
            </div>


            <p>
              Then what is the timeline to payoff that investment? With an average salary increase of $44,729, those students pay off their investment in 14 months.
            </p>
        </div>
    </div>
</section>
<section id="conclusions" class="conclusions orange-bg">
    <div class="container">
        <div class="content-padded-right2">
            <h1>Conclusions</h1>
            <p class="size1">Overall we are proud of these results. Some of our key takeaways and intentions for the future are:</p>
            <h2 class="smaller">Diversity</h2>
            <h3>We must attract, enroll, and graduate more women, people of color, and veterans.</h3>
            <p>This year we'll build up stronger partnerships with old friends like Girl Develop It and Teach for America. We'll begin new ones with organizations like City Year and Denver Community College. In the summer of 2016 we anticipate approval from the VA to accept Post-9/11 GI Bill funding and thus open the door more widely to our veterans and their spouses/dependents. We'll also add at least two roles to our operations team and put more purposeful marketing and recruiting systems in place to ensure we're building a sustainable pipeline.</p>
        </div>
    </div>
</section>
<section class="conclusions-grad-rate orange-dark-bg">
    <div class="container">
        <div class="content-padded-right2">
            <h2 class="smaller">Graduation Rate</h2>
            <h3>We must graduate a higher percentage of students without any sacrifice in academic rigor</h3>
            <p>Even mixing in those who leave early due to employment, we're looking a graduation rate in the 80s. MIT hovers in the area of 91-93%. Stanford boasts a 94% graduation rate. We can do better.
            </p>
            <p>So far in late 2015 / early 2016 we have put in place the following changes:</p>
            <ul class="arrowed">
                <li>The "Echo"/"Foxtrot" split for the first three weeks of Module 1, inspired by Harvey Mudd</li>
                <li>Creation of a Student Support Fellowship, a six-week fellowship for a recent grad where they spend 24 hours per week pairing with our most struggling students
                </li>
                <li>Revising our prework content to be more focused, have higher expectations, and be more easily monitored. We've also added volunteer "prework guides" (current and past students) who give one-on-one support to students before they arrive
                </li>
                <li>Foster the growth of student interest/support groups like the Joan Clarke Society (for female students), LGBTuring, and newly the Turing Asian American Programmers.
                </li>
                <li>Revising admissions process to focus more clearly on the Turing mindsets: <strong>growth, engagement, agency, empathy, and grit</strong>.
                </li>
                <li>Increase the number of financial lending partners and diversify their offerings, including some who can now lend students funds for their cost-of-living while in the program
                </li>
                <li>Creation of a Community Affairs Manager role who is now able to keep a pulse on students, steer their growth, and catch warning signs more quickly
                </li>
            </ul>
            <p>With these efforts in place we seek to nearly eliminate the "Early Drop / Bad Fit" category (currently 3%) and reduce the "Academic Drop Out" (currently 10%) so combined they are the outcome for less than 8% of enrollees in 2016.</p>
        </div>
    </div>
</section>
<section class="turing-bg">

</section>
<section class="pipelines orange-darker-bg">
    <div class="container">
        <div class="content-padded-right2">
            <h2 class="smaller">Employment Pipelines</h2>
            <h3>We must help students secure high-satisfaction jobs more quickly.
            </h3>
            <p>
              Though almost all graduates find jobs they're excited about, the process is entirely too stressful for everyone involved. 60% of students accepted their first job offer. We want students to recieve between three and five job offers, allowing them to select the one that best aligns with their personal goals.
            </p>
            <p>
              In addition, this is our Apollo Moon Challenge:
            </p>
            <h3>Every graduate of Turing will have a signed employment contract the day they graduate.</h3>

            <p>To achieve that we:</p>
            <ul class="arrowed">
                <li>
                  have hired an experienced Partnerships Manager to build stronger employer relationships
                </li>
                <li>
                  are building better data management practices to improve knowledge about companies and interviews
                </li>
                <li>
                  are beginning to coordinate with economic development organizations, both within the government and outside it
                </li>
                <li>
                  are increasing our reach beyond our personal networks through events, writing, sharing, speaking, public relations, and supporting the people and efforts around us
                </li>
                <li>
                  are leveraging our long-time alumni as they begin to look for their second jobs, using them to open doors for current grads
                </li>
                <li>
                  are planning a supported apprenticeship program where experienced developers on our staff assist grads in ramping up at their new jobs, thus lowering the risk for employers
                </li>
            </ul>
            <p>
              Through those efforts we expect to see over 80% of graduates employed within 30 days of graduation in 2016 and reach the moon challenge in 2017.
            </p>
        </div>
    </div>
</section>
<section class="thank-you">
    <div class="container">
        <h1><%= image_tag "logo-symbol.png" %> Thank You.</h1>
    </div>
</section>
</body>
</html>
